/* Link Colors */
a {
	color:#0a58a7;
	}
	
a:hover { 
	color:#FF0000; 
	}

#subheader {
	background-color:#f0f8ff;
}
	
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active,
.sf-menu li.current-cat > a, 
.sf-menu li.current_page_item  > a {  color:#0a58a7; }
	
	
.subtitle h1 span,
.copyright,
a.button, a.button:hover,
.flickr_badge_image img:hover,
.flex-direction-nav li .prev:hover,
.flex-direction-nav li .next:hover,
.widget_postslist li .thumb img:hover,
.flex-direction-nav li a.prev:hover,
.flex-direction-nav li a.next:hover,
/* Date Picker */
.ui-widget-header, 
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { 
	background-color:#0a58a7;
	}
	
h1 span { color:#105aa6; }
hr  {
	background-color:#000;
	}	

.topbar { 
	background-color:#f0f8ff;
	border-color:#dceeff;
	}
	
#boxed #wrapper {
	background-image:url(../images/opacs/dark10.png);
	}
	
	.subtitle h1 span{ padding:10px 30px; }
	.subdesc { background-color:#fff; }


#footer {
	background-color:#f1f8ff; 
	border-color:#dceeff;
	}

.subtitle h1 span,
.copyright {
	color:#fff; 
	}